*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#dropDown{
    width: 150px;
    background: white;
    border: solid 1px gray;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 51.3vw;
    top: 5vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.choose{
    color: #fff;
    background-color: #808080;
}